In [1]:
nums=[1,2,3,4,5,6,7,8,9,19]
for element in nums:
    print(element)

1
2
3
4
5
6
7
8
9
19

In [2]:
for element in nums:
    print(element+1)

2
3
4
5
6
7
8
9
10
20

In [5]:
for element in nums:
    squarelist=element*element
    print(squarelist)

1
4
9
16
25
36
49
64
81
361

In [8]:
nums=[1,2,3,4,5,6,7,8,9,19,100]
square_list=[]
for element in nums:
    square=element*element
    
    square_list.append(square)
    print('element:',element, 'square_valu:',square, 'suare_list:',square_list)
    
print(square_list)
print(type(square_list))

element: 1 square_valu: 1 suare_list: [1]
element: 2 square_valu: 4 suare_list: [1, 4]
element: 3 square_valu: 9 suare_list: [1, 4, 9]
element: 4 square_valu: 16 suare_list: [1, 4, 9, 16]
element: 5 square_valu: 25 suare_list: [1, 4, 9, 16, 25]
element: 6 square_valu: 36 suare_list: [1, 4, 9, 16, 25, 36]
element: 7 square_valu: 49 suare_list: [1, 4, 9, 16, 25, 36, 49]
element: 8 square_valu: 64 suare_list: [1, 4, 9, 16, 25, 36, 49, 64]
element: 9 square_valu: 81 suare_list: [1, 4, 9, 16, 25, 36, 49, 64, 81]
element: 19 square_valu: 361 suare_list: [1, 4, 9, 16, 25, 36, 49, 64, 81, 361]
element: 100 square_valu: 10000 suare_list: [1, 4, 9, 16, 25, 36, 49, 64, 81, 361, 10000]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 361, 10000]
<class 'list'>

In [16]:
def sum_of_values(a,b):
    sum=a+b

    return sum

In [17]:
sum_of_values(23,23)

46

In [18]:
def mul(a,b):
    m=a*b

    return m

In [19]:
mul(2,3)

6

In [21]:
def square_value(input_list):
    square_list=[]
    for element in input_list:
        square=element*element
    
        square_list.append(square)
        print('element:',element, 'square_value:',square, 'suare_list:',square_list)
    return square_list

In [23]:
square_value([1,2,3,4])

element: 1 square_value: 1 suare_list: [1]
element: 2 square_value: 4 suare_list: [1, 4]
element: 3 square_value: 9 suare_list: [1, 4, 9]
element: 4 square_value: 16 suare_list: [1, 4, 9, 16]

[1, 4, 9, 16]

In [24]:
square_value([3,45,6,7])

element: 3 square_value: 9 suare_list: [9]
element: 45 square_value: 2025 suare_list: [9, 2025]
element: 6 square_value: 36 suare_list: [9, 2025, 36]
element: 7 square_value: 49 suare_list: [9, 2025, 36, 49]

[9, 2025, 36, 49]

In [35]:
for i in range(1,10,1):
    if i%2 == 0:
        print(i, 'even')
    else:
        print(i, 'odd')

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd

In [41]:
count=0
while count<3:
    print(count)
    count=count+1
    print('ruby')

0
ruby
1
ruby
2
ruby

In [45]:
for i in range(0,10):
    if i%2 == 0:
        print(i,'divisible by 2')
    elif i%3 == 0:
        print(i, 'divisible by 3')
    elif i%4 == 0:
        print(i, 'divisible by 3')
    else:
        print(i,'not divisible by 2 and 3, 4')

0 divisible by 2
1 not divisible by 2 and 3, 4
2 divisible by 2
3 divisible by 3
4 divisible by 2
5 not divisible by 2 and 3, 4
6 divisible by 2
7 not divisible by 2 and 3, 4
8 divisible by 2
9 divisible by 3

In [47]:
for i in range(0,10):
    if i%2 == 0:
        print(i,'divisible by 2')
    else:
        print(i, 'not divisible by 2')
    if i%3 == 0:
        print(i, 'divisible by 3')
    else:
        print(i,'not divisible by 3')
    if i%4 == 0:
        print(i, 'divisible by 4')
    else:
        print(i,'not divisible 4')

0 divisible by 2
0 divisible by 3
0 divisible by 4
1 not divisible by 2
1 not divisible by 3
1 not divisible 4
2 divisible by 2
2 not divisible by 3
2 not divisible 4
3 not divisible by 2
3 divisible by 3
3 not divisible 4
4 divisible by 2
4 not divisible by 3
4 divisible by 4
5 not divisible by 2
5 not divisible by 3
5 not divisible 4
6 divisible by 2
6 divisible by 3
6 not divisible 4
7 not divisible by 2
7 not divisible by 3
7 not divisible 4
8 divisible by 2
8 not divisible by 3
8 divisible by 4
9 not divisible by 2
9 divisible by 3
9 not divisible 4

In [48]:
nums=[1,2,3,4,5,6,7,8,9]  #Example of cumulative sum using for loop
sum_list=[]
for i in range(len(nums)):
    print('i:',i, 'i+1:',i+1, 'nums=', nums[:i+1], 'sum:', sum(nums[:i+1]))
    sum_list.append(sum(nums[:i+1]))
print(sum_list)

i: 0 i+1: 1 nums= [1] sum: 1
i: 1 i+1: 2 nums= [1, 2] sum: 3
i: 2 i+1: 3 nums= [1, 2, 3] sum: 6
i: 3 i+1: 4 nums= [1, 2, 3, 4] sum: 10
i: 4 i+1: 5 nums= [1, 2, 3, 4, 5] sum: 15
i: 5 i+1: 6 nums= [1, 2, 3, 4, 5, 6] sum: 21
i: 6 i+1: 7 nums= [1, 2, 3, 4, 5, 6, 7] sum: 28
i: 7 i+1: 8 nums= [1, 2, 3, 4, 5, 6, 7, 8] sum: 36
i: 8 i+1: 9 nums= [1, 2, 3, 4, 5, 6, 7, 8, 9] sum: 45
[1, 3, 6, 10, 15, 21, 28, 36, 45]

In [53]:
def sum_values(nums):
    sum_list=[]
    for i in range(len(nums)):
    #for element in nums:
        print('i:',i, 'i+1:',i+1, 'nums=', nums[:i+1], 'sum:', sum(nums[:i+1]))
        sum_list.append(sum(nums[:i+1]))
    return sum_list

In [51]:
sum_values([1,2,3,4,5,6,7,8,9])

i: 0 i+1: 1 nums= [1] sum: 1
i: 1 i+1: 2 nums= [1, 2] sum: 3
i: 2 i+1: 3 nums= [1, 2, 3] sum: 6
i: 3 i+1: 4 nums= [1, 2, 3, 4] sum: 10
i: 4 i+1: 5 nums= [1, 2, 3, 4, 5] sum: 15
i: 5 i+1: 6 nums= [1, 2, 3, 4, 5, 6] sum: 21
i: 6 i+1: 7 nums= [1, 2, 3, 4, 5, 6, 7] sum: 28
i: 7 i+1: 8 nums= [1, 2, 3, 4, 5, 6, 7, 8] sum: 36
i: 8 i+1: 9 nums= [1, 2, 3, 4, 5, 6, 7, 8, 9] sum: 45

[1, 3, 6, 10, 15, 21, 28, 36, 45]